In [1]:
import pandas as pd
from operator import itemgetter
import ast

df = pd.read_csv('../data/1_predicted_category_documents.csv')

In [89]:
df[df['content'].str.lower().str.contains("sea of okhotsk")]

,Unnamed: 0,id,content,title,wosarticle__de,wosarticle__wc,ar5,seen,relevant,random_sample,...,2 - Trend or climate change attribution - upper_pred,2 - 2.4. Sensitivity - mean_prediction,2 - 2.4. Sensitivity - std_prediction,2 - 2.4. Sensitivity - lower_pred,2 - 2.4. Sensitivity - upper_pred,2 - 2.5. Detection of a regional climate trend (no attribution) - mean_prediction,2 - 2.5. Detection of a regional climate trend (no attribution) - std_prediction,2 - 2.5. Detection of a regional climate trend (no attribution) - lower_pred,2 - 2.5. Detection of a regional climate trend (no attribution) - upper_pred,PY
527,527,324139,A comparative analysis was conducted on climat...,Comparison of atmospheric forcing in four sub-...,atmospheric forcing; surface heat fluxes; Sea ...,['Oceanography'],NaN,0.0,0.0,0,...,0.758258,0.0,0.000000,0.000000,0.000000,0.3,0.458258,0.000000,0.758258,2007.0
1883,1883,1397385,Changes in composition of planktonic foraminif...,The history of circulation in the Sea of Okhot...,foraminifers; paleocirculation; upper Pleistoc...,['Geology; Paleontology'],NaN,0.0,0.0,0,...,0.600000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2015.0
3875,3875,2311496,Long chain diols have been detected in a wide ...,A multiproxy study of past environmental chang...,Sea of Okhotsk; Mid-Pleistocene Transition; LD...,['Geochemistry & Geophysics'],NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2018.0
9159,9159,1452749,The genetic variability distribution of two mt...,"Genetic variability in anadromous fishes, chum...",phylogeography; chum salmon; Sakhalin taimen; ...,['Marine & Freshwater Biology'],NaN,0.0,0.0,0,...,0.600000,0.4,0.489898,0.000000,0.889898,0.0,0.000000,0.000000,0.000000,2016.0
10075,10075,735147,Hokkaido is classified into five regions based...,Holocene vegetation and climate on Hokkaido Is...,NaN,"['Geography, Physical; Geosciences, Multidisci...",NaN,0.0,0.0,0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2013.0
13339,13339,4717,We have reviewed the effects of long-term clim...,Effect of global warming on the life history a...,Climate change; Global warming; Chum salmon; L...,['Fisheries'],NaN,0.0,0.0,0,...,0.400000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1991.0
14577,14577,673865,The Bering Sea gateway between the Pacific and...,Last Glacial Maximum to Holocene sea surface c...,NaN,"['Geosciences, Multidisciplinary; Oceanography...",NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2012.0
17962,17962,318269,The Arctic sea ice retreat has accelerated ove...,Observed anomalous atmospheric patterns in sum...,Arctic; sea ice; atmospheric circulation; stor...,['Meteorology & Atmospheric Sciences'],NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2006.0
24228,24228,1523239,"During the period 1954-2014, concentrations of...",Decline and Bidecadal Oscillations of Dissolve...,dissolved oxygen; ocean deoxygenation; bidecad...,"['Environmental Sciences; Geosciences, Multidi...",0.0,1.0,0.0,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2017.0
31092,31092,1554478,Consecutive extreme rainfall (CER) events can ...,Teleconnection patterns impacting on the summe...,consecutive extreme rainfall; teleconnection p...,['Meteorology & Atmospheric Sciences'],NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2017.0
32658,32658,1391611,The relationship between extreme anomalies of ...,The sea ice extent anomaly in the North Pacifi...,NaN,['Meteorology & Atmospheric Sciences'],NaN,0.0,0.0,0,...,0.000000,0.8,0.400000,0.400000,1.000000,0.0,0.000000,0.000000,0.000000,2015.0
33518,33518,1470864,This study examined the quiescence of Asian du...,Quiescence of Asian dust events in South Korea...,Spring 2012; Asian dust; Dust frequency; Dust ...,['Environmental Sciences; Meteorology & Atmosp...,NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.2,0.400000,0.000000,0.600000,2016.0
40739,40739,700902,Recent studies have revealed the impact of the...,Contrasting Population Histories of the Deep-S...,population genetics; deep-sea fishes; demograp...,['Zoology'],NaN,0.0,0.0,0,...,0.000000,0.9,0.300000,0.600000,1.000000,0.0,0.000000,0.000000,0.000000,2012.0
41664,41664,555438,This study aims to investigate the recent drou...,Warm-dry collocation of recent drought in sout...,southwestern drought; wavelet decomposition; m...,"['Physics, Multidisciplinary']",NaN,0.0,0.0,0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.5,0.500000,0.000000,1.000000,2010.0
43797,43797,1536801,The Pacific Japan (PJ) teleconnection pattern ...,Response of the Baiu Rainband to Northwest Pac...,NaN,['Meteorology & Atmospheric Sciences'],NaN,0.0,0.0,0,...,1.000000,0.8,0.400000,0.400000,1.000000,0.0,0.000000,0.000000,0.000000,2017.0
44362,44362,2306490,This study investigates how Eurasian snow cove...,Relationship Between Korean Monthly Temperatur...,Korean summer temperature; Eurasian snow cover...,['Meteorology & Atmospheric Sciences'],NaN,0.0,0.0,0,...,0.400000,1.0,0.000000,1.000000,1.000000,0.0,0.000000,0.000000,0.000000,2018.0
45802,45802,2325309,Changing climate patterns strongly influence m...,Prey biomass dynamics in gray whale feeding ar...,Macrobenthos; Marine ecology; Ecosystem variab...,['Environmental Sciences; Marine & Freshwater ...,NaN,0.0,0.0,0,...,1.000000,0.1,0.300000,0.000000,0.400000,0.0,0.000000,0.000000,0.000000,2018.0
49469,49469,1884338,The article presents the results of studying t...,Water runoff vs modern climatic warming in mou...,NaN,['Green & Sustainable Science & Technology; En...,NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2017.0
50817,50817,125246,The winters of 1999-2002 for the North Pacific...,Recent shifts in the state of the North Pacific,NaN,"['Geosciences, Multidisciplinary']",NaN,0.0,0.0,0,...,0.400000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2001.0
54163,54163,1501620,This study examines pre-industrial control sim...,Atmospheric precursors of and response to anom...,sea ice-atmosphere coupling; stratosphere-trop...,['Meteorology & Atmospheric Sciences'],NaN,0.0,0.0,0,...,0.000000,0.1,0.300000,0.000000,0.400000,0.0,0.000000,0.000000,0.000000,2017.0
55255,55255,3826759,Knowledge of past variations in sea-ice extent...,An assessment of diatom assemblages in the Sea...,NaN,['Paleontology'],NaN,0.0,0.0,0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,NaN
55748,55748,1416553,"Northern Hemisphere sea ice concentration, 500...",ARCTIC SEA-ICE VARIABILITY ON A TIMESCALE OF W...,NaN,['Meteorology & Atmospheric Sciences'],NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.7,0.458258,0.241742,1.000000,2016.0
56546,56546,1387987,BACKGROUND: The relationship between cold resi...,COLD RESISTANCE OF AN ANT Camponotus herculean...,ants; Camponotus herculeanus; overwintering co...,['Biology; Physiology'],NaN,0.0,0.0,0,...,0.000000,1.0,0.000000,1.000000,1.000000,0.0,0.000000,0.000000,0.000000,2015.0
58471,58471,3300112,"[1] Ice draft, ice velocity, ice concentration...",Observations and analyses of an intense waves-...,sea ice; waves; Okhotsk,['Oceanography'],NaN,0.0,0.0,0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2019.0
58826,58826,493919,"Lithological, geochemical, and micropaleontolo...",Paleoenvironment changes in the NW Okhotsk Sea...,Northwestern Okhotsk Sea; Sea ice; Paleoenviro...,['Oceanography'],NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2009.0
60104,60104,1532255,The seasonal change in the development of Aleu...,Seasonal Evolution of Aleutian Low Pressure Sy...,NaN,['Oceanography'],NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2017.0
64820,64820,1481496,"Using path analyses, we investigated relations...",Effects of juvenile size at release and early ...,chum salmon; growth variability; hatchery; Hok...,['Fisheries; Oceanography'],NaN,0.0,0.0,0,...,0.000000,0.2,0.400000,0.000000,0.600000,0.0,0.000000,0.000000,0.000000,2016.0
73927,73927,257353,We re-examined sixteen pollen records from non...,Holocene vegetation dynamics and climate chang...,Kamchatka; vegetation dynamics; pollen record;...,['Plant Sciences; Paleontology'],NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2005.0
76430,76430,1376417,[ 1] The 18.6-year lunar nodal cycle (LNC) is ...,The 18.6-year lunar nodal cycle and surface te...,NaN,['Oceanography'],NaN,0.0,0.0,0,...,0.889898,0.1,0.300000,0.000000,0.400000,0.1,0.300000,0.000000,0.400000,2015.0
77025,77025,1320100,A reconstruction of theclimate and hydrology o...,Evolution of planktonic foraminifer assemblage...,NaN,['Oceanography'],NaN,0.0,0.0,0,...,0.889898,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2015.0
77369,77369,1315381,The slowly evolving annual cycle (signified as...,Baiu near Japan and its relation to summer mon...,NaN,['Meteorology & Atmospheric Sciences'],NaN,0.0,0.0,0,...,0.400000,0.9,0.300000,0.600000,1.000000,0.0,0.000000,0.000000,0.000000,2015.0
77478,77478,1806323,Significant abundance changes of seven radiola...,Orbital- and millennial-scale changes of radio...,Japan Sea; East Sea; radiolaria; Pleistocene; ...,"['Geography, Physical; Geosciences, Multidisci...",NaN,0.0,0.0,0,...,0.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2017.0
83605,83605,95092,The possibility of an asymmetric response of s...,Asymmetric response in Northeast Asia of summe...,NDVI; ENSO; Asymmetry; Northeast Asia,['Meteorology & Atmospheric Sciences'],NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,1999.0
85750,85750,1372413,The species and quantitative composition of be...,Benthic foraminifers in the Sea of Okhotsk and...,NaN,['Oceanography'],NaN,0.0,0.0,0,...,0.889898,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2015.0
86241,86241,145825,The relationship between the Arctic and subarc...,Decadal-to-interdecadal fluctuations of Arctic...,NaN,['Meteorology & Atmospheric Sciences; Oceanogr...,NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2002.0
87801,87801,416478,"The distribution, diversity and structure of b...",The boreal forests of north-eastern Eurasia,boreal forests; forest vegetation pattern; Mon...,['Plant Sciences; Ecology; Forestry'],NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2008.0
89690,89690,1353238,Changes in snowline elevation and dust flux cl...,Snowline elevation and eolian dust flux in the...,NaN,"['Geography, Physical; Geosciences, Multidisci...",NaN,0.0,0.0,0,...,0.000000,1.0,0.000000,1.000000,1.000000,0.0,0.000000,0.000000,0.000000,2015.0
91270,91270,3315610,We performed a comprehensive analysis of satel...,Detection of cyclone-induced rapid increases i...,NaN,['Remote Sensing; Imaging Science & Photograph...,NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2019.0
92085,92085,1492525,"By using NCEP/NCAR reanalysis datasets, the le...",Summer precipitation response to the length of...,Yangtze-Huaihe river valley; season division; ...,"['Physics, Multidisciplinary']",NaN,0.0,0.0,0,...,0.600000,0.6,0.489898,0.110102,1.000000,0.0,0.000000,0.000000,0.000000,2016.0
93573,93573,1531076,This article provides a brief review of climat...,A review of the Sea of Okhotsk ecosystem respo...,climate; currents; demersal fish; herring; reg...,['Fisheries; Marine & Freshwater Biology; Ocea...,NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2017.0
93578,93578,3314627,Explosive cyclones formed in the northwest Pac...,Probabilistic assessment of storm surge potent...,Storm surge; explosive cyclogenesis; winter st...,"['Engineering, Civil; Engineering, Ocean']",NaN,0.0,0.0,0,...,0.400000,0.4,0.489898,0.000000,0.889898,0.0,0.000000,0.000000,0.000000,2019.0
95489,95489,777861,Sclerochronological and shell stable oxygen is...,Interannual to decadal variability of summer s...,Mercenaries stimpsoni; Sea of Okhotsk; Scleroc...,"['Geography, Physical; Geosciences, Multidisci...",NaN,0.0,0.0,0,...,1.000000,0.0,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,2013.0

In [90]:
places = pd.read_csv('../data/places.csv')
places = places[places['country_conf']>0.4]
places = places[pd.notnull(places["place_name"])]

gm_docs = df.loc[
    (df['title'].str.lower().str.contains("gulf of mexico")) |
    (df['content'].str.lower().str.contains("gulf of mexico")),
    "id"
]
geocolumns = ["word", "country_conf", "feature_code","lat","lon","place_name","feature_class","geonameid"]
gm = pd.DataFrame({"doc_id": gm_docs})
gm[geocolumns] = ["Gulf of Mexico",0.8,"GULF", 25, -90, "Gulf of Mexico", "H", 3523271]


lab_docs = df.loc[
    (df['title'].str.lower().str.contains("labrador sea")) |
    (df['content'].str.lower().str.contains("labrador sea")),
    "id"
]
geocolumns = ["word", "country_conf", "feature_code","lat","lon","place_name","feature_class","geonameid"]
lab = pd.DataFrame({"doc_id": lab_docs})
lab[geocolumns] = ["Labrador Sea",0.8,"SEA", 57, -55, "Labrador Sea", "H", 3424929]

baf_docs = df.loc[
    (df['title'].str.lower().str.contains("baffin bay")) |
    (df['content'].str.lower().str.contains("baffin bay")),
    "id"
]
geocolumns = ["word", "country_conf", "feature_code","lat","lon","place_name","feature_class","geonameid"]
baf = pd.DataFrame({"doc_id": baf_docs})
baf[geocolumns] = ["Baffin Bay",0.8,"BAY", 74, -68, "Baffin Bay", "H", 3831554]

ok_docs = df.loc[
    (df['title'].str.lower().str.contains("sea of okhotsk")) |
    (df['content'].str.lower().str.contains("sea of okhotsk")),
    "id"
]
geocolumns = ["word", "country_conf", "feature_code","lat","lon","place_name","feature_class","geonameid"]
ok = pd.DataFrame({"doc_id": baf_docs})
ok[geocolumns] = ["Sea of Okhotsk",0.8, "SEA", 55, 150, "Sea of Okhotsk", "H", 2127380]

places = pd.concat([places, gm, lab, baf, ok])

places.tail()

,word,spans,country_predicted,country_conf,doc_id,admin1,lat,lon,country_code3,geonameid,place_name,feature_class,feature_code
91550,Sea of Okhotsk,NaN,NaN,0.8,2354419,NaN,55.0,150.0,NaN,2127380.0,Sea of Okhotsk,H,SEA
92351,Sea of Okhotsk,NaN,NaN,0.8,169562,NaN,55.0,150.0,NaN,2127380.0,Sea of Okhotsk,H,SEA
93969,Sea of Okhotsk,NaN,NaN,0.8,572968,NaN,55.0,150.0,NaN,2127380.0,Sea of Okhotsk,H,SEA
93997,Sea of Okhotsk,NaN,NaN,0.8,1898289,NaN,55.0,150.0,NaN,2127380.0,Sea of Okhotsk,H,SEA
95679,Sea of Okhotsk,NaN,NaN,0.8,1280991,NaN,55.0,150.0,NaN,2127380.0,Sea of Okhotsk,H,SEA

In [91]:
geocolumns = ["feature_code","lat","lon","place_name","feature_class","geonameid"]
places.loc[places["word"]=="Pakistan", geocolumns]=["PCLI",30,70,"Islamic Republic of Pakistan","A",1168579]
places.loc[places["word"]=="Colombia", geocolumns]=["PCLI",4,-73.25,"Colombia","A",3686110]
places.loc[places["word"]=="Argentina", geocolumns]=["PCLI",-34,-64,"Argentine Republic","A",3865483]
places.loc[places["word"]=="Sahara", geocolumns] = ["DSRT", 26, 13, "Sahara", "T", 2212709]
places.loc[places["word"]=="Alps",geocolumns] = ["MTS", 46.41667, 10, "Alps", "T", 2661786]
places.loc[places["word"]=="Mediterranean Sea",geocolumns] = ["SEA", 35, 20, "Mediterranean Sea", "T", 2661786]
places.loc[places["word"]=="MEDITERRANEAN",geocolumns] = ["SEA", 35, 20, "Mediterranean Sea", "T", 2661786]
places.loc[places["word"]=="East China",geocolumns] = ["PCLI", 35, 105, "China", "A", 1814991]
places.loc[places["word"]=="South China",geocolumns] = ["PCLI", 35, 105, "China", "A", 1814991]
places.loc[places["word"]=="Great Lakes",geocolumns] = ["LK", 45.68751, -84.43753, "Great Lakes", "H", 4994594]
places.loc[places["word"]=="Catalonia",geocolumns] = ["ADM1", 41.82046, 1.86768, "Catalunya", "A", 3336901]
places.loc[places["word"]=="South Pacific",geocolumns] = ["OCN", -45, -130, "South Pacific Ocean", "H", 4030483]
places.loc[places["word"]=="Gulf Coast",geocolumns] = ["AREA", 29.36901, -95.00565, "Gulf Coast", "L", 7287689]
places.loc[places["word"]=="Gulf coast",geocolumns] = ["AREA", 29.36901, -95.00565, "Gulf Coast", "L", 7287689]
places.loc[places["word"]=="Hainan Island",geocolumns] = ["ISL", 19.2, 109.7, "Hainan Dao", "T", 1809055]
places.loc[places["word"]=="Red Sea",geocolumns] = ["SEA", 20.26735, 38.53455, "Red Sea", "H", 350155]
places.loc[places["word"]=="Himalayan",geocolumns] = ["MTS", 28,84, "Himalayas", "T", 1252558]
places.loc[places["word"]=="Himalayas",geocolumns] = ["MTS", 28,84, "Himalayas", "T", 1252558]
places.loc[places["word"]=="North America's",geocolumns] = ["CONT", 46.07323, -100.54688, "North America", "L", 6255149]
places.loc[places["word"]=="Atlantic Ocean",geocolumns] = ["OCN", 10, -25, "Atlantic Ocean", "H", 3373405]
places.loc[places["word"]=="Scandinavia",geocolumns] = ["RGN", 63, 12, "Scandinavia", "L", 2614165]
places.loc[places["word"]=="California (USA",geocolumns] = ["ADM1", 37.25022, -119.75126, "California", "A", 5332921]
places.loc[places["word"]=="California, USA",geocolumns] = ["ADM1", 37.25022, -119.75126, "California", "A", 5332921]
places.loc[places["word"]=="North Pacific",geocolumns] = ["OCN", 30, -170, "North Pacific Ocean", "H", 4030875]
places.loc[places["word"]=="Huai",geocolumns] = ["STM", 33.133333, 118.5, "Huai He", "H", 1807690]
places.loc[places["word"]=="Washington, DC",geocolumns] = ["PPLC", 38.89511, -77.03637, "Washington", "P", 4140963]
places.loc[places["word"]=="Messinian",geocolumns] = ["ADM2", 37.25, -21.83333, "Nomos Messinias", "A", 257149]
places.loc[places["word"]=="Ionian Sea",geocolumns] = ["SEA", 39, 19, "Ionian Sea", "H", 2463713]
places.loc[places["word"]=="NYC",geocolumns] = ["PPL", 40.71427, -74.00597, "New York City", "P", 5128581]
places.loc[places["word"]=="Indian Ocean",geocolumns] = ["OCN", -10, 70, "Indian Ocean", "H", 1545739]
places.loc[places["word"]=="North Sea",geocolumns] = ["SEA", 55, 3, "North Sea", "H", 2960848]
places.loc[places["word"]=="Philippine Sea",geocolumns] = ["SEA", 20, 135, "Philippine Sea", "H", 1818190]
places.loc[places["word"]=="Black Sea",geocolumns] = ["SEA", 43, 34, "Black Sea", "H", 630673]
places.loc[places["word"]=="Coral Sea",geocolumns] = ["SEA", -20, 155, "Coral Sea", "H", 2194166]
places.loc[places["word"]=="Timor Sea",geocolumns] = ["SEA", -11, 127, "Timor Sea", "H", 2078065]
places.loc[places["word"]=="Hudson Bay",geocolumns] = ["BAY", 60, -85, "Hudson Bay", "H", 5978134]
places.loc[places["word"]=="Bering Sea",geocolumns] = ["SEA", 60, -175, "Bering Sea", "H", 4031788]
places.loc[places["word"]=="Okhotsk Sea",geocolumns] = ["SEA", 55, 150, "Sea of Okhotsk", "H", 2127380]


places.loc[places["place_name"]=="Central Upper Nile",geocolumns] = ["ADM1", 10, 32.7, "Upper Nile", "A", 381229]
places.loc[places["place_name"]=="Gobolka Woqooyi Galbeed","place_name"] = "Woqooyi Galbeed"



places = places[places["place_name"]!="Pacific County"]
places = places.loc[places["word"]!="B.V."]
places = places[places["word"]!="MMT"]
places = places[places["word"]!="Yellow"]
places = places[places["word"]!="Western North"]
places = places[places["word"]!="colonies"]
places = places[places["word"]!="TN"]
places = places[places["word"]!="NH"]
places = places[places["word"]!="Mn"]
places = places[places["word"]!="Tx"]
places = places[places["word"]!="TX"]
places = places[places["word"]!="Tn"]
places = places[places["word"]!="FL"]
places = places[places["word"]!="Spartina"]
places = places[places["word"]!="Tamarix"]
places = places[places["word"]!="Eurasia"]
places = places[places["word"]!="Phillyrea"]
places = places[places["word"]!="N-15"]
places = places[places["word"]!="LT50"]
places = places[places["word"]!="POSEIDON"]
places = places[places["word"]!="LC50"]
places = places[places["word"]!="El Nio"]
places = places[places["word"]!="La Nia"]
places = places[places["word"]!="Red"]
places = places[places["word"].str.len()>2]
places = places[places["word"]!="Gulf Stream"]

places.lat = places.lat.astype(float)
places.lon = places.lon.astype(float)

places = places.drop_duplicates(["doc_id","word"])

print(places.shape)

places.to_csv("../data/place_df.csv",index=False)
#places.to_csv("~/ownCloud/regional-impacts-data/place_df.csv",index=False)

(148899, 13)

In [66]:
places

,word,spans,country_predicted,country_conf,doc_id,admin1,lat,lon,country_code3,geonameid,place_name,feature_class,feature_code
2,Barents Sea,"[{'start': 329, 'end': 340}]",NaN,0.904877,1340101,NaN,74.00000,36.00000,NaN,630674.0,Barents Sea,H,SEA
9,East Siberia,"[{'start': 1228, 'end': 1240}]",NaN,0.904877,1340101,NaN,74.00000,166.00000,NaN,2127381.0,East Siberian Sea,H,SEA
17,Gulf Coast,"[{'start': 497, 'end': 507}]",USA,0.904877,222401,Mississippi,29.36901,-95.00565,USA,7287689.0,Gulf Coast,L,AREA
19,San Diego,"[{'start': 114, 'end': 123}]",USA,0.963741,3307272,California,33.02820,-116.77021,USA,5391832.0,San Diego County,A,ADM2
29,Alaska,"[{'start': 91, 'end': 97}]",USA,0.959621,355004,Alaska,64.00028,-150.00028,USA,5879092.0,Alaska,A,ADM1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
94390,Gulf of Mexico,NaN,NaN,0.800000,1442314,NaN,25.00000,-90.00000,NaN,3523271.0,Gulf of Mexico,H,GULF
94766,Gulf of Mexico,NaN,NaN,0.800000,32313,NaN,25.00000,-90.00000,NaN,3523271.0,Gulf of Mexico,H,GULF
94837,Gulf of Mexico,NaN,NaN,0.800000,1288986,NaN,25.00000,-90.00000,NaN,3523271.0,Gulf of Mexico,H,GULF
95156,Gulf of Mexico,NaN,NaN,0.800000,1360432,NaN,25.00000,-90.00000,NaN,3523271.0,Gulf of Mexico,H,GULF
95740,Gulf of Mexico,NaN,NaN,0.800000,416377,NaN,25.00000,-90.00000,NaN,3523271.0,Gulf of Mexico,H,GULF

In [60]:
places[places["place_name"].str.contains("Gulf")].groupby('word').size().sort_values(ascending=False).head(20)

word
Gulf of Mexico            478
Gulf Coast                 75
Persian Gulf               58
Arabian Gulf               26
Gulf of Maine              16
Gulf                       15
Gulf coast                 15
Gulf of California         14
western Gulf               10
Amundsen Gulf               9
Gulf Coasts                 7
Beibu Gulf                  7
Gulf of Alaska              6
Gulf of Aden                5
US Gulf Coast               4
Gulf of Carpentaria         4
Gulf of the Farallones      4
Gulf of Guinea              4
Florida Gulf                3
Exmouth Gulf                3
dtype: int64

In [92]:
places[places["word"].str.lower().str.contains("solomon")]

,word,spans,country_predicted,country_conf,doc_id,admin1,lat,lon,country_code3,geonameid,place_name,feature_class,feature_code
2984,Solomon Islands,"[{'start': 106, 'end': 121}]",SLB,0.946707,1467932,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
12091,San Solomon Spring,"[{'start': 211, 'end': 229}]",USA,0.948191,2320338,Texas,30.94431,-103.78852,USA,5530122.0,San Solomon Spring,H,SPNG
12096,San Solomon Springs,"[{'start': 1334, 'end': 1353}]",USA,0.948191,2320338,Texas,30.94431,-103.78852,USA,5530122.0,San Solomon Spring,H,SPNG
29447,Solomon Islands,"[{'start': 119, 'end': 134}]",SLB,0.946458,1432549,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
45112,Solomon Islands,"[{'start': 209, 'end': 224}]",SLB,0.946707,2316389,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
71193,Solomon Islands,"[{'start': 1057, 'end': 1072}]",SLB,0.938801,185982,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
85276,Solomon Islands,"[{'start': 409, 'end': 424}]",SLB,0.954475,255058,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
105656,Solomon Islands,"[{'start': 779, 'end': 794}]",SLB,0.953179,3296073,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
136136,Solomon islands,"[{'start': 103, 'end': 118}]",SLB,0.963741,2309534,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
158567,Solomon Islands,"[{'start': 81, 'end': 96}]",SLB,0.948191,739225,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
166046,Solomon Islands,"[{'start': 943, 'end': 958}]",SLB,0.928841,2325454,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
168064,Solomon Islands,"[{'start': 94, 'end': 109}]",SLB,0.948191,140937,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
172010,Solomon Islands,"[{'start': 134, 'end': 149}]",SLB,0.954475,818218,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
175560,SOLOMON-ISLANDS,"[{'start': 102, 'end': 117}]",SLB,0.963741,3308334,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
268458,Solomon Islands,"[{'start': 515, 'end': 530}]",SLB,0.945330,664946,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
270479,Solomon Islands,"[{'start': 292, 'end': 307}]",SLB,0.953179,2344039,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
270542,Solomon Islands,"[{'start': 777, 'end': 792}]",SLB,0.946707,25547,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
272481,Solomon Islands,"[{'start': 353, 'end': 368}]",SLB,0.951695,16813,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
284786,Solomon Islands,"[{'start': 91, 'end': 106}]",SLB,0.948191,770459,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
308529,Solomon Islands,"[{'start': 504, 'end': 519}]",SLB,0.951695,453144,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
316169,Solomon Islands,"[{'start': 401, 'end': 416}]",SLB,0.948191,381102,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
332475,Solomon Islands,"[{'start': 650, 'end': 665}]",SLB,0.951695,584777,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
360137,Solomon Islands,"[{'start': 394, 'end': 409}]",SLB,0.951695,2318301,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
380602,Solomon Islands,"[{'start': 61, 'end': 76}]",SLB,0.946707,3828464,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI
398282,Solomon Islands,"[{'start': 968, 'end': 983}]",SLB,0.948191,3791945,NaN,-8.00000,159.00000,SLB,2103350.0,Solomon Islands,A,PCLI

In [ ]:
did = 28635
print(df[df.id==did].content.values[0])
for i, r in places[places["doc_id"]==did].iterrows():
    print(r["word"],r["place_name"],r["feature_code"],r["country_conf"])

In [ ]:
places.head()

In [8]:
import pycountry_convert as pc
def get_cont(x):
    continents = {
        'NA': 'North America',
        'SA': 'South America', 
        'AS': 'Asia',
        'OC': 'Oceania',
        'AF': 'Africa',
        'EU': 'Europe'
    }
    try:
        return continents[pc.country_alpha2_to_continent_code(pc.country_alpha3_to_country_alpha2(x['country_predicted']))]
    except:
        return None
places['continent'] = places.apply(lambda x: get_cont(x), axis=1)
other_country_continents = [
    ("ESH","Africa"),
    ("TLS","Oceania"),
    ("XKX","Europe")
    
]
for country,continent in other_country_continents:
    places.loc[places['country_predicted']==country,"continent"] = continent

places.head()

,word,spans,country_predicted,country_conf,doc_id,admin1,lat,lon,country_code3,geonameid,place_name,feature_class,feature_code,continent
2,Barents Sea,"[{'start': 329, 'end': 340}]",NaN,0.904877,1340101,NaN,74.00000,36.00000,NaN,630674.0,Barents Sea,H,SEA,None
9,East Siberia,"[{'start': 1228, 'end': 1240}]",NaN,0.904877,1340101,NaN,74.00000,166.00000,NaN,2127381.0,East Siberian Sea,H,SEA,None
17,Gulf Coast,"[{'start': 497, 'end': 507}]",USA,0.904877,222401,Mississippi,29.36901,-95.00565,USA,7287689.0,Gulf Coast,L,AREA,North America
19,San Diego,"[{'start': 114, 'end': 123}]",USA,0.963741,3307272,California,33.02820,-116.77021,USA,5391832.0,San Diego County,A,ADM2,North America
29,Alaska,"[{'start': 91, 'end': 97}]",USA,0.959621,355004,Alaska,64.00028,-150.00028,USA,5879092.0,Alaska,A,ADM1,North America

In [9]:
doc_continents = places[["doc_id","continent"]]
print(doc_continents.shape)
doc_continents = doc_continents.drop_duplicates(["doc_id","continent"])
print(doc_continents.shape)
doc_continents.to_csv('../data/doc_continents.csv',index=False)

(124420, 2)
(80356, 2)